:host {
  .battery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 100%;

    img {
      height: 25px;
      width: auto;
      justify-self: center;
    }
  }
}
