:root {
  /*** Font ***/
  --font-family: 'Ithaca', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, sans-serif;

  /*** Text Sizes ***/
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */

  --line-height-tight: 1.1;
  --line-height-snug: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  --h1: var(--text-5xl);
  --h2: var(--text-4xl);
  --h3: var(--text-3xl);
  --h4: var(--text-2xl);
  --h5: var(--text-xl);
  --h6: var(--text-lg);

  --text-btn: var(--text-base);
  --text-label: var(--text-sm);

  /*** Colors ***/
  --color-primary: #2563eb;
  --color-primary-hover: #1e40af;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  // --brand-color: #fffd24; <-- Original
  // --brand-color: #eacd23;
  --brand-real-black: #121214;
  --color-black: #2a2c31;

  /*** Other Variables ***/
  --radius-s: 0.25rem;
  --radius: 0.5rem;
  --radius-xl: 2rem;

  --spacer-xs: 0.25rem;
  --spacer-s: 0.5rem;
  --spacer: 1rem;
  --spacer-l: 1.25rem;
  --spacer-xl: 1.5rem;
  --spacer-2xl: 2rem;
  --spacer-3xl: 2.5rem;
  --spacer-4xl: 3rem;
  --spacer-5xl: 3.5rem;
  --spacer-6xl: 4rem;
  --spacer-7xl: 4.5rem;

  --shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  --transition: all 0.25s ease;
  --transition-slow: all 0.5s ease;
}
